/* Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$Pacifico : "Pacifico", cursive;
$Inter : 'Inter', sans-serif; 

/* Colors */

$red : #FF6B6B;
$blue : #667EEA;
$purple : #764BA2;
$black : #1F2937;
$gray : #9CA3AF;
$white : #FFFFFF;
